.title {
    position: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 144, 144);
    color: white;
    border-radius: 10px;
    width: 300px;
    height: 50px;
}

.linechart {
    position: center;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}

.subtitle_block {
    display: flex;
    position: center;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.subtitles {
    display: inline-block;
    margin: 20px;
    text-align: center;
    border: 2px solid rgb(41, 144, 144);
    border-radius: 10px;
    width: 200px;
}

.button_back {
    display: flex;
    margin: 20px;
    text-align: center;
    border: 1px solid rgb(41, 144, 144);
    border-radius: 10px;
    width: 100px;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
}